Click==7.0
Flask==1.1.1
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
Werkzeug==0.15.6
docx2txt==0.8
PyMuPDF==1.17.0
spacy==2.0.16
msgpack==0.5.6
mysql-connector==2.2.9
mysql-connector-python==8.0.20
numpy==1.15.4